.center_content {
	display: flex;
	justify-content: center;
}

.bar_graph {
	padding-top: 3%;
}

.list_items {
	list-style-type: none;
}

.heading {
	color: #3f5acc;
	font-size: large;
}

.details {
	display: flex;
	justify-content: center;
}
